.cinvoice {
  display: flex;
}
span.GItitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
}
.isave {
  margin-left: 53%;
}
.iatitle.flex {
  display: flex;
}
.aititle {
  display: flex;
}

.invoive-img {
  margin-right: 17px;
}
.itele span {
  width: 100%;
  display: inline-block;
  line-height: 30px;
}
span.iahead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  /* line-height: 48px; */
  letter-spacing: 0.853923px;
  color: #000000;
}
.aititle {
  display: flex;
  justify-content: space-between;
}
span.line {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.icenter {
  margin: 25px 0 50px;
}

.itele {
  text-align: right;
}

span.iainvoice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  text-transform: uppercase;
  color: #333333;
}

.invoice {
  text-align: center;
  margin-top: 44px;
}
.ickks {
  display: flex;
  margin: 0 0 32px;
  width: 100%;
  justify-content: space-between;
}

.invoiceItem {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

.invoiceItem th {
  background: #f5f5f5;
  box-shadow: none;
}

.invoiceItem .MuiPaper-root.MuiPaper-elevation {
  box-shadow: none;
  border-bottom: none;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.itembtn.css-1gwix6k-MuiButtonBase-root-MuiButton-root {
  background: #13c710;
  border: 1.5px solid #13c710;
  border-radius: 5px;
  padding: 10px 25px;
}
.MuiInputBase-root.invoiceNote.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  width: 399px;
  height: 76px;
}
.invoiceSubTotal {
  display: flex;
  margin-left: 0px;
  justify-content: space-between;
}

.invoice-name-detail span {
  width: 100%;
  display: inline-block;
  line-height: 29px;
}

.total {
  width: 100%;
  display: flex;
}
.amount {
  display: flex;
  margin-top: 16px;
}

.sdiv {
  display: flex;
}
.sidiv {
  width: 200px;
}
span.select {
  margin-left: 230px;
  color: blue;
}
.invoiceInput {
  width: 94%;
}
.hhh {
  display: flex;
  /* width: 100%; */
}
/*  */
span.plus {
  margin-left: 75%;
}
span.selectss {
  margin-left: 57%;
  color: #1818ff;
}
.display {
  display: flex;
  margin: 30px;
  margin-bottom: 1px;

  width: 74%;
  /* max-width: 166%; */
}
.label {
  width: 29%;
  margin-top: 10px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 686px;
}
.required {
  margin-left: 81%;
  /* height: 65%; */
}
.sdiv {
  border: 1px solid #eaeaea;
  padding: 20px 20px;
  flex-wrap: wrap;
}

.grey-button {
  background: #696969 !important;
}
