.header-navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  border-radius: 25px;
  border: none;
  height: 3rem;
  font-weight: 700;
  padding: 0 12px;
}

footer {
  text-align: left;
  margin-top: 70px;
}

footer p {
  color: rgba(12, 20, 15, 1);
  font-size: 16px;
  letter-spacing: 0.4px;
}

footer a {
  color: #4b4d50;
  text-decoration: none;
  transition: all 0.2s ease;
}

@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 1281px) {
}
