#demo-popup-menu
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper,
#demo-popup-popover
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper {
  position: absolute;
  left: 290px !important;
  width: calc(100% - 353px);
  background: #eee;
  top: 264px !important;
  box-shadow: none;
  text-align: left;
  padding: 25px;
}

label {
  font-size: 16px !important;
  color: #5a6873 !important;
  font-weight: 500 !important;
}
.react-datepicker__input-container input {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
}

body .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
  min-height: 105px;
}

input {
  height: 50px !important;
  border-radius: 5px;
  padding: 0 15px !important;
}

.MuiContainer-root.MuiContainer-maxWidthLg.filter-box,
.MuiContainer-root.MuiContainer-maxWidthLg {
  width: 100%;
  max-width: 100%;
}

.form-filter label {
  font-size: 16px;
  font-weight: 600;
  color: #5a6873;
}

.form-filter
  .MuiFormControl-root.MuiFormControl-fullWidth
  .MuiInputBase-formControl,
.form-filter
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl,
.form-filter
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-multiline,
.form-filter
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
  background: #fff;
  height: 56px;
}

.MuiAutocomplete-endAdornment {
  top: calc(26% - 14px) !important;
}

.MuiContainer-root.MuiContainer-maxWidthLg {
  max-width: 100%;
  padding: 0;
}
.buycss .css-sghohy-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.filtercss.css-1idn90j-MuiGrid-root {
  display: flex !important;
}
.resetfiltercss {
  margin-left: 25px;
}
