<<<<<<< HEAD
.err_str {
  color: red;
}
.loadingcss {
  margin: 0 auto !important;
  margin-top: 15% !important;
  margin-left: 50% !important;
  margin-bottom: 15% !important;
}
=======
>>>>>>> 3383f3504c0ef6935ed46ce310a50e2bfc1adc84
