.guardianBar {
  /* width: 1920px; */
  /* height: 1080px; */
  /* left: 0px; */
  /* top: 0px; */
  background: #f5f6f9;
  padding: 22px;
  margin: 0px;
  margin-top: 53px;
}
.Gtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  color: #333333;
}
span.smallHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #f95a37;
  flex: none;
  order: 0;
  flex-grow: 0;
}
span.secondHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.bar {
  display: flex;
}
.searchBar {
  /* background-color: beige; */
  margin-left: 71%;
}
/* */
.guardianList {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 10px 10px #eceef4, inset 0px 1px 1px #ffffff;
  border-radius: 10px;
}
main.MuiBox-root.css-zxdg2z {
  padding: 0px;
}
.MuiBox-root.css-1wnsr1i {
  background: #ffffff;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  border-radius: 8px;
}
h2#modal-modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 160%;
  letter-spacing: 0.15px;
  color: #5a6873;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
p#modal-modal-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #5a6873;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root.popup {
  font-family: "Roboto";
  font-style: normal;
  /* font-weight: 600; */
  /* font-size: 16px; */
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  margin-left: 115px;
  color: #f44336;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root.popup {
  position: absolute;
  width: 159px;
  height: 50px;
  /* left: 840px; */
  /* top: 996px; */
  /* background: #1a70c5; */
  border-radius: 5px;
  /* margin-top: 44px; */
}
.kk {
  display: flex;
  width: 100%;
}
.field {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin: 10px;

  color: #5a6873;
  /* identical to box height */
}
.active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #5a6873;
}
.inactive {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #ff4026;
}
.fields {
  margin: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #f95a37;
}
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #5a6873;
}
h4.notFound {
  display: flex;
  width: 254%;
  margin-left: 19px;
  text-align: center;
}
.ife {
  display: flex;
  margin-left: 59%;
}
.filter {
  /* margin: 11px; */
  width: 137px;
  display: flex;
}

.ifliter {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1a70c5;
  cursor: pointer;
}
.iimg {
  margin-top: 14px;
}
.export {
  width: 107px;
  display: inline-flex;
  margin-top: 16px;
}
span.iexport {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1a70c5;
  cursor: pointer;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  width: 81%;
  margin-top: 2%;
  margin-right: 23% !important;
  opacity: 1;
  transform: none;
  transition: opacity 334ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 222ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 50px;
  left: 262px;
  transform-origin: 716.227px 137.156px;
}
.btn {
  display: flex;
}
.idiv {
  margin: 7px;
  cursor: pointer;
}
.dd {
  margin-top: 14px;
}
.ISBOX.MuiBox-root.css-1wnsr1i {
  margin: 0px;
  padding: 0px;
}
h3.ehead {
  margin: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.15px;
  color: #5a6873;
}
.Isend {
  margin: 14px;
}
svg.telegram {
  /* height: 31px; */
  font-size: 42px;
  margin: 13px;
  margin-left: 28px;
}
.sendEmailBox {
  display: flex;
  background: "#EFF3FD";
  height: "8vh";
  width: 100%;
  background-color: "#EFF3FD";
}
h3.eshead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5f6160;
}

.css-1mfccow {
  display: flex;
  flex-direction: column;
  width: 247px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1dmzujt {
  width: 81%;
}
.telegram {
  cursor: pointer;
}
.clabel {
  margin-bottom: 13px;
}
.hh {
  width: 100%;
}
.iadiv {
  display: flex;
}
h5.apply {
  margin: 3px;
  font-size: 16px;
  padding: -1px;
}
span.field {
  width: 74px;
}
